.orderCart
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(41, 220, 91);
    margin:10px;
    padding:5px;
    border-radius: 30px 0px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.purchaseTitle
{
    text-align: center;
    font-size: 22px;
    font-family:Lato;

}
.orderCartImg
{
    width:50px;
    height:50px;
    border-radius:50%;
}
.orderCartBtn
{
    border: none;
    width:40px;
    height: 40px;
    padding:3px 5px;
    border-radius: 50%;
    cursor: pointer;
}
.btn-choose
{
    display: block;
    margin: 0 auto;
    width:232px;
    height: 48px;
    background-color:#FF9900;
    border: none;
    border-radius:20px 0px;
    color: white;
    cursor: pointer;
    font-family:Lato;
}
.btn-remove
{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
    width:232px;
    height: 48px;
    background-color:#FF3030;
    border: none;
    border-radius:20px 0px;
    color: white;
    cursor: pointer;
    font-family:Lato;
}