header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:70px;
    background-color: rgb(41, 220, 91);
    font-family:Lato;
     
}
header h2{
    font-size:28px;
    color:black;
}
  
nav a
{
    text-decoration: none;
    margin-right: 35px;
    font-size: 18px;
    font-family:Lato;
    font-weight: 400;
    color:black;
}
nav a:hover{
  color:coral;
}
@media only screen and (max-width:600px)
{   
   header{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
   
    }
   nav a{
       margin-right:15px;
       margin-top:0px;
   }
}